
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Alfa+Slab+One|Anton|Fjalla+One|Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Baloo|Bowlby+One+SC|Enriqueta|Gelasio:400,400i|Rubik+Mono+One|Ubuntu+Mono:400,400i&display=swap');

*{
    box-sizing: border-box !important;
}

body {
    margin: 0px;
}

.bold-expression {
    font-family: 'Rubik Mono One', sans-serif;
}

.mild-expression {
    font-family: 'Enriqueta', serif;
    font-size: 25px;
}

.navbar {
    background-color: white;
    border-bottom: 2px solid whitesmoke;
    position: sticky;
    top: 0px;
    z-index: 10000;
}

.navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.navbar a {
    text-decoration: none;
    color: gray;
}

.brand-name {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

.links {
    padding: 15px;
    font-family: 'Source Code Pro', monospace;
}

.links .sign-in {
    background: gray;
    color: white;
    padding: 42px;
}

button {
    background-color: black;
    border: none;
    text-align: center;
    height: 70px;
}

button a {
    text-decoration: none;
    color: white;
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
}

.display-section {
    position: relative;
    height: 600px;
    background-image: url(../images/cacti-1845159.jpg);
    background-size: cover;   
}


.shop-soils {
    color: white;
    position: absolute;
    top: 250px;
    left: 200px;
}

.display-section .shop-soils img {
    width: 40px;
}

p {
    font-family: 'Source Code Pro', monospace;
}

.newsletter {
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid blue;
    line-height: 1rem;
}

.email-button {
    padding: 12px;
    background-color: grey;
    border: none;
}

.why-opus {
    height: 600px;
    background-image: url(../images/young-salad-5809.jpg);
    background-size: cover;
}

.why-opus img {
    max-width: 100%;
}

#email-address {
    padding: 10px 100px;
}
.pitch {
    height: 300px;
    background: rgb(102, 167, 40);
    color: white;
    text-align: center;
    padding: 50px 300px 0px 300px;
}

.different-categories {
    display: inline-flex;
    height: 350px;
    text-align: center;
}

.home-category {
    background: white;
    width: 50%;
    padding: 50px 100px 0px 100px;
}

.wholesale-category {
    background: #dbcfc1;
    width: 50%;
    padding: 50px 100px 0px 100px;
}

.ingredients {
    height: 400px;
    background-image: url(../images/wall-1217083_1920.jpg);
    background-size: cover;
    display: inline-flex;
}

.ingredient-housing {
    width: 50%;
    padding: 30px;
}

.ingredient-title {
    display: inline-flex;
}

.pot-plant-icon {
    width: 20%;
}

.icon-text {
    width: 60%;
    display: inline-block;
    line-height: 2rem;
}

.ingredients .general-ingredient-layout .pot-plant-icon img {
    height: 100px;
}

.specific-ingredient-image {
    width: 50%;
    background: url(../images/plant-164500.jpg) no-repeat;
    background-size: cover;
}

.specific-ingredient-image img {
    max-width: 100%;
    height: 400px;
}

.reduced-margin{
    margin-top: -18px;
}

.footer {
    height: auto;
    background: rgb(148, 142, 142);
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.footer .first {
    display: flex;
    justify-content: space-around;
}

.footer .first .foot-lists {
    display: flex;
    max-width: 400px;

}

.footer .first .foot-lists ul li {
    list-style: none;
    font-family: 'Source Code Pro', monospace;
}

.footer .first .foot-lists ul li a {
    text-decoration: none;
    color: white;
}

.page-title-in-footer p {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    line-height: 3rem;
    margin: 0;
}

.page-title-in-footer p span {
    letter-spacing: 0.6rem;
    font-weight: bold;
}

.newsletter-sign-up p {
    color: black;
    font-size: 25px;
    font-weight: bold;
    line-height: 0.1rem;
}

.footer .first .foot-lists ul li a:hover {
    color: rgb(204, 190, 190);
}

.footnote {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.social-media-icons i {
    color: white;
    font-size: 30px;
    padding: 20px;
}


/* Media Query */
@media screen and (max-width: 768px) {
    .shop-soils {
        position: relative;
        top: 0;
        left: 0;
    }
    .brand-name {
   display: flex;
   flex-direction: row;
    }
}

/* @media screen and (max-width: 640px) {
    .shop-soils {
        background-color: red;
        position: absolute;
    }
} */