
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Alfa+Slab+One|Anton|Fjalla+One|Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Baloo|Bowlby+One+SC|Enriqueta|Gelasio:400,400i|Rubik+Mono+One|Ubuntu+Mono:400,400i&display=swap');

*{
    box-sizing: border-box !important;
}

body {
    margin: 0px;
}

.bold-expression {
    font-family: 'Rubik Mono One', sans-serif;
}

.mild-expression {
    font-family: 'Enriqueta', serif;
}

.navbar {
    background-color: white;
    height: 100px;
    border-bottom: 2px solid whitesmoke;
    padding: 10px 30px 0px 50px;
    position: sticky;
    top: 0px;
    z-index: 10000;
}

.navbar a {
    text-decoration: none;
    color: gray;
}

.brand-name {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    padding-right: 200px;
    padding-top: 50px;
}

.links {
    padding-right: 40px;
    padding-top: 40px;
    font-family: 'Source Code Pro', monospace;
}

.links .sign-in {
    background: gray;
    color: white !important;
    padding-left: 30px;
    padding-bottom: 40px;
}

button {
    
    background-color: black;
    border: none;
    text-align: center;
    height: 70px;
}

button a {
    text-decoration: none;
    color: white;
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;

}

.display-section img {
    max-width: 100%;
    position: relative;
}

.shop-soils {
    color: white;
    position: absolute;
    top: 500px;
    left: 200px;
}

.display-section .shop-soils img {
    width: 40px;
}

p {
    font-family: 'Source Code Pro', monospace;
}
.newsletter {
    height: 250px;
    background-color: white;
    padding: 40px 0px 0px 40px;
    text-align: center;
    border-bottom: 1px solid blue;
}

.why-opus {
    height: 600px;
    background-image: url(../images/gardening-690940.jpg);
    
}

.why-opus img {
    max-width: 100%;
}

.pitch {
    height: 300px;
    background: rgb(190, 18, 84);
    color: white;
    text-align: center;
    padding: 50px 300px 0px 300px;
}

.different-categories {
    display: inline-flex;
    height: 350px;
    text-align: center;
}

.home-category {
    background: rgb(218, 169, 205);
    width: 50%;
    padding: 50px 100px 0px 100px;
}

.wholesale-category {
    background: rgb(148, 168, 118);
    width: 50%;
    padding: 50px 100px 0px 100px;
}

.ingredients {
    height: 400px;
    background-image: url(../images/wall-1217083_1920.jpg);
    background-size: cover;
    display: inline-flex;
}

.ingredient-housing {
    width: 60%;
}

.ingredient-title {
    display: inline-flex;
}

.pot-plant-icon {
    width: 40%;
}

.icon-text {
    width: 60%;
    display: inline-block;
}

.ingredients .general-ingredient-layout .pot-plant-icon img {
    height: 100px;
}

.specific-ingredient-image {
    width: 40%;
}

.specific-ingredient-image img {
    max-width: 100%;
    height: 400px;
    
}


@media screen and (max-width: 768px) {
    .shop-soils {
        position: relative;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 640px) {
    .shop-soils {
        background-color: red;
        position: absolute;
    }
}